<div class="global-wrapper clearfix" id="global-wrapper">
        <div class="demo_changer" id="demo_changer">
            <div class="demo-icon fa fa-sliders"></div>
            <div class="form_holder">
                <div class="line"></div>
                <p>Color Scheme</p>
                <div class="predefined_styles" id="styleswitch_area">
                    <a class="styleswitch" href="about-usc392.html?default=true" style="background:#486D97;"></a>
                    <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
                    <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
                    <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
                    <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
                    <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
                    <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
                    <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
                    <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
                    <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
                    <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
                    <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
                    <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
                    <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
                    <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
                    <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
                </div>
                <div class="line"></div>
                <p>Layout</p>
                <div class="predefined_styles"><a class="btn btn-xs" href="#" id="btn-wide">Wide</a>&nbsp;&nbsp;<a class="btn btn-xs" href="#" id="btn-boxed">Boxed</a>
                </div>
                <div class="line"></div>
                <p>Background Patterns</p>
                <div class="predefined_styles" id="patternswitch_area">
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_light.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_dark.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dark_fish_skin.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dimension.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/escheresque_ste.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/food.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/giftly.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/grey_wash_wall.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/ps_neutral.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_maze_black.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_pattern.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/simple_dashed.png);"></a>
                </div>
                <div class="line"></div>
                <p>Background Images</p>
                <div class="predefined_styles" id="bgimageswitch_area">
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bike.jpg);" data-src="img/backgrounds/bike.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/flowers.jpg);" data-src="img/backgrounds/flowers.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/wood.jpg);" data-src="img/backgrounds/wood.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/taxi.jpg);" data-src="img/backgrounds/taxi.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/phone.jpg);" data-src="img/backgrounds/phone.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/road.jpg);" data-src="img/backgrounds/road.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/keyboard.jpg);" data-src="img/backgrounds/keyboard.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/beach.jpg);" data-src="img/backgrounds/beach.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/street.jpg);" data-src="img/backgrounds/street.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/nature.jpg);" data-src="img/backgrounds/nature.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bridge.jpg);" data-src="img/backgrounds/bridge.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/cameras.jpg);" data-src="img/backgrounds/cameras.jpg"></a>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <%= render 'header' %>


        <div class="container">
            <header class="page-header">
                <h1 class="page-title">About Us</h1>
            </header>
            <div class="row">
                <div class="col-md-9">
                    <p class="lead">Nostra mollis justo duis dolor fringilla accumsan erat ac non dictumst vel convallis neque rutrum est dapibus viverra curae pharetra dui ad cum cum suscipit ipsum class cubilia dignissim id</p>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <div class="row row-col-gap">
                <div class="col-md-8">
                    <%= image_tag("street_960x480.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                </div>
                <div class="col-md-4">
                    <h3 class="widget-title">Our Story</h3>
                    <p>Sodales odio semper ornare proin condimentum senectus lacinia nullam malesuada scelerisque laoreet sodales fames sollicitudin tortor elementum luctus mus mi curae magnis adipiscing morbi leo fermentum sociosqu pharetra lectus lacus</p>
                    <p>Class convallis viverra sagittis imperdiet nunc lacinia suspendisse semper in non nostra vestibulum cras tempor mi ut bibendum auctor nam</p>
                    <p>Felis vehicula mollis dignissim dolor vel consequat iaculis dignissim semper curae nibh himenaeos quis malesuada sem fusce magna magnis magna</p>
                    <p>Dictumst eleifend vitae non massa potenti euismod nunc inceptos cubilia</p>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <div class="row row-col-gap">
                <div class="col-md-6">
                    <h3 class="widget-title">The Community</h3>
                    <p>Etiam metus libero elit euismod quisque quisque eleifend dapibus fames ultrices sociis erat nunc adipiscing enim inceptos posuere pellentesque egestas</p>
                    <p>Ut vulputate urna vel posuere lorem lacinia cursus auctor nisl elementum bibendum suspendisse hac venenatis ipsum justo dolor platea imperdiet nibh congue adipiscing praesent primis montes ante nullam penatibus luctus</p>
                    <p>Hac sit quam id ante montes senectus dui praesent magnis</p>
                </div>
                <div class="col-md-6">

                  <%= image_tag("girls_party_smile_550x210.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <div class="row row-col-gap">
                <div class="col-md-9">
                    <div class="row row-sm-gap" data-gutter="10">
                        <div class="col-md-2">
                          <%= image_tag("cup_on_red_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("rail_road_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <div class="col-md-2">
                            <%= image_tag("foots_and_grass_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <div class="col-md-2">
                          <%= image_tag("shoes-woman-girl-sport-jogging_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("the_violin_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("sorry_to_bust_your_bubble_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("my_ice_cream_and_your_ice_cream_spoons_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("a_dreamy_jump_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("lack_of_blue_depresses_me_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <div class="col-md-2">
                          <%= image_tag("ijump_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("dangle_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                        <div class="col-md-2">
                          <%= image_tag("step_up_300x300.jpg", :class => "full_width", :alt => "Image Alternative text", :title => "Image Title") %>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="widget-title">Behind The Scenes</h3>
                    <p>Eget ligula libero torquent semper at sollicitudin litora ultricies metus a justo in sagittis malesuada maecenas nec fringilla leo tempor</p>
                    <p>Faucibus conubia lacus faucibus varius odio montes accumsan faucibus sociis</p>
                    <p>Id porta quisque dictum aliquet nec cum parturient congue id</p>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>

        <%= render 'footer' %>
    </div>
