
    <div class="global-wrapper clearfix" id="global-wrapper">
        <div class="demo_changer" id="demo_changer">
            <div class="demo-icon fa fa-sliders"></div>
            <div class="form_holder">
                <div class="line"></div>
                <p>Color Scheme</p>
                <div class="predefined_styles" id="styleswitch_area">
                    <a class="styleswitch" href="index-layout-7c392.html?default=true" style="background:#486D97;"></a>
                    <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
                    <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
                    <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
                    <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
                    <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
                    <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
                    <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
                    <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
                    <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
                    <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
                    <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
                    <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
                    <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
                    <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
                    <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
                </div>
                <div class="line"></div>
                <p>Layout</p>
                <div class="predefined_styles"><a class="btn btn-xs" href="#" id="btn-wide">Wide</a>&nbsp;&nbsp;<a class="btn btn-xs" href="#" id="btn-boxed">Boxed</a>
                </div>
                <div class="line"></div>
                <p>Background Patterns</p>
                <div class="predefined_styles" id="patternswitch_area">
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_light.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/binding_dark.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dark_fish_skin.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/dimension.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/escheresque_ste.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/food.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/giftly.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/grey_wash_wall.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/ps_neutral.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_maze_black.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/pw_pattern.png);"></a>
                    <a class="patternswitch" href="#" style="background-image: url(img/patterns/simple_dashed.png);"></a>
                </div>
                <div class="line"></div>
                <p>Background Images</p>
                <div class="predefined_styles" id="bgimageswitch_area">
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bike.jpg);" data-src="img/backgrounds/bike.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/flowers.jpg);" data-src="img/backgrounds/flowers.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/wood.jpg);" data-src="img/backgrounds/wood.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/taxi.jpg);" data-src="img/backgrounds/taxi.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/phone.jpg);" data-src="img/backgrounds/phone.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/road.jpg);" data-src="img/backgrounds/road.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/keyboard.jpg);" data-src="img/backgrounds/keyboard.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/beach.jpg);" data-src="img/backgrounds/beach.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/street.jpg);" data-src="img/backgrounds/street.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/nature.jpg);" data-src="img/backgrounds/nature.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/bridge.jpg);" data-src="img/backgrounds/bridge.jpg"></a>
                    <a class="bgimageswitch" href="#" style="background-image: url(img/switcher/cameras.jpg);" data-src="img/backgrounds/cameras.jpg"></a>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <%= render 'header' %>


        <div class="container">
            <div class="gap gap-small"></div>
            <div class="row row-sm-gap" data-gutter="10">
                <%= render 'side_nav_bar' %>
                
                <div class="col-md-10">
                    <div class="owl-carousel owl-loaded owl-nav-dots-inner owl-carousel-curved" data-options='{"items":1,"loop":true}'>
                        <div class="owl-item">
                            <div class="slider-item" style="background-image:url(assets/test_slider/17.jpg); height:490px;">
                                <div class="slider-item-inner slider-item-inner-container">
                                    <div class="slider-item-caption-right slider-item-caption-white slider-item-caption-sm">
                                        <h4 class="slider-item-caption-title">iPhone 6s</h4>
                                        <p class="slider-item-caption-desc">Be First to get one just from $500</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                    </div>
                                    <%= image_tag("test_slider/16.png", :class => "slider-item-img-left", :alt => "Image Alternative text", :title => "Image Title", :style => "left: 7%; top: 60%; width: 19%;") %>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="slider-item" style="background-color:#3D3D3D; height:490px;">
                                <div class="slider-item-inner slider-item-inner-container">
                                    <div class="slider-item-caption-left slider-item-caption-white slider-item-caption-sm">
                                        <h4 class="slider-item-caption-title">Save up to $150 on Your Next Laptop</h4>
                                        <p class="slider-item-caption-desc">I'm Not Gonna Pay A Lot For This Laptop.</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                    </div>
                                    <%= image_tag("test_slider/1.png", :class => "slider-item-img-right", :alt => "Image Alternative text", :title => "Image Title", :style => "top: 60%; width: 66%; right: -14%;") %>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="slider-item" style="background-color:#93282B; height:490px;">
                                <div class="slider-item-inner slider-item-inner-container">
                                    <div class="slider-item-caption-left slider-item-caption-white slider-item-caption-sm">
                                        <h4 class="slider-item-caption-title">Run! Run! Run!</h4>
                                        <p class="slider-item-caption-desc">Your Running Shoes, Right Away.</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                    </div>
                                    <%= image_tag("test_slider/3.png", :class => "slider-item-img-right", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <h3 class="widget-title">Popular Categories</h3>
            <div class="row" data-gutter="15">
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/15.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Military Man's Boots</h5>
                        <p class="banner-category-desc">425 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/21.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Unlocked Smartphones</h5>
                        <p class="banner-category-desc">553 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/18.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Smart LED Full HDTV</h5>
                        <p class="banner-category-desc">677 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/20.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Camping & Travel Bags</h5>
                        <p class="banner-category-desc">266 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/16.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Waterproof Jackets</h5>
                        <p class="banner-category-desc">284 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/19.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">External Hard Drives</h5>
                        <p class="banner-category-desc">601 products</p>
                    </a>
                </div>
            </div>
            <div class="row" data-gutter="15">
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/19.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Man's Luxury Watches</h5>
                        <p class="banner-category-desc">225 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/15.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Military Man's Boots</h5>
                        <p class="banner-category-desc">176 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/16.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Waterproof Jackets</h5>
                        <p class="banner-category-desc">671 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/17.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Man's Luxury Watches</h5>
                        <p class="banner-category-desc">370 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/18.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">Smart LED Full HDTV</h5>
                        <p class="banner-category-desc">155 products</p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="banner-category" href="#">
                        <%= image_tag("test_product/19.jpg", :class => "banner-category-img-full", :alt => "Image Alternative text", :title => "Image Title") %>
                        <h5 class="banner-category-title">External Hard Drives</h5>
                        <p class="banner-category-desc">314 products</p>
                    </a>
                </div>
            </div>
            <div class="gap"></div>
            <h3 class="widget-title">Today Featured</h3>
            <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/woman_heels/1.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">New Authentic Gucci Patent Leather Open Toe Platform Pump,Gren, 309984 3125</h5>
                            <div class="product-caption-price"><span class="product-caption-price-old">$127</span><span class="product-caption-price-new">$102</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/man_fashion/9.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Rock & Republic Bootcut Jeans Henlee Stonewashed Blue New Mens Jean Denim New</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$82</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/man_fashion/14.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Magnum Precision UltraLite II Waterproof Composite Toe Slip Resistant Work Boots</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$55</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/home_tech/5.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Hamilton Beach 49996 FlexBrew Single-Serve Coffeemaker with Removable Reservoir</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$117</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/man_fashion/7.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Hanes Ultimate Cotton&reg; Fleece Full-Zip Adult Hoodie style F280</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$106</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/woman_watches/2.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Timex Women's | Elevated Classics Swarovski Crystals Black Strap | Watch T2N450</h5>
                            <div class="product-caption-price"><span class="product-caption-price-old">$63</span><span class="product-caption-price-new">$26</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/woman_bags/7.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Dooney & Bourke Claremont Field Bag</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$71</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/woman_watches/5.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Bulova Women's Dress 98V02 Silver Stainless-Steel Quartz Watch</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$103</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/home_tech/6.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Black 1000-Watt 6-Quart Electric Pressure Cooker Brushed Stainless and Matte 603</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$54</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="product  owl-item-slide">
                        <div class="product-img-wrap">
                          <%= image_tag("test_product/laptops/4.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Samsung Chromebook 11.6" LED HD 16GB 1.7GHz Webcam Notebook Laptop -XE303C12-A01</h5>
                            <div class="product-caption-price"><span class="product-caption-price-old">$88</span><span class="product-caption-price-new">$80</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row" data-gutter="15">
                <div class="col-md-6">
                    <div class="banner banner-o-hid" style="background-image:url(assets/landscape-scotland-nature_380x220.jpg);">
                        <a class="banner-link" href="#"></a>
                        <div class="banner-caption-left">
                            <h5 class="banner-title">Discover The Mountains</h5>
                            <p class="banner-desc">Pro Backpacks 70% Off.</p>
                            <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                            </p>
                        </div>
                        <%= image_tag("test_banner/16.png", :class => "banner-img", :alt => "Image Alternative text", :title => "Image Title", :style => "bottom: -68px; right: -32px; width: 200px;") %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner banner-o-hid" style="background-image:url(assets/man_back_560x200.jpg);">
                        <a class="banner-link" href="#"></a>
                        <div class="banner-caption-left banner-caption-dark">
                            <h5 class="banner-title">Winter is Comming</h5>
                            <p class="banner-desc">Outwear Collection</p>
                            <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row" data-gutter="60">
                <div class="col-md-6">
                    <h3 class="widget-title">Recentrly Viewed</h3>
                    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":3,"loop":true,"nav":true}'>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/home_tech/6.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>

                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Black 1000-Watt 6-Quart Electric Pressure Cooker Brushed Stainless and Matte 603</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$104</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/31.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Apple iPhone 5c - 16GB - GSM Factory Unlocked White Blue Green Pink Yellow</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$144</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">

                                    <%= image_tag("test_product/sports/1.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>

                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Barnett 78649 Recruit Youth 100# Crossbow Package With Red Dot Sight Pink</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$122</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">

                                      <%= image_tag("test_product/woman_running_shoes/4.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">ASICS Women's Gel-Noosa Tri 9 Running Shoe Black/Neon Coral/Green</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/man_fashion/4.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Drifire Lightweight Tubular Short Sleeve Shirt - Made in USA</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$67</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/man_fashion/6.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Ray Ban RB 3025 112/19 Green Flash Lens Unisex 58mm Aviator Sunglasses</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-old">$148</span><span class="product-caption-price-new">$134</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/man_fashion/7.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>

                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Hanes Ultimate Cotton&reg; Fleece Full-Zip Adult Hoodie style F280</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$60</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/woman_running_shoes/2.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">ASICS Women's GEL-Equation 7 Running Shoes T3F6N</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/34.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Samsung Galaxy Note 4 IV 4G FACTORY UNLOCKED Black or White</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-old">$74</span><span class="product-caption-price-new">$45</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/woman_bags/5.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Dooney & Bourke Pebble Grain Hobo</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$120</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="widget-title">Based on Your Browsing History</h3>
                    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":3,"loop":true,"nav":true}'>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/home_tech/3.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">iRobot BRAAVA 320 Floor Sweeping/Mopping Robot Cleaner - White</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$143</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/sports/1.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>

                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Barnett 78649 Recruit Youth 100# Crossbow Package With Red Dot Sight Pink</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$58</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/woman_bags/3.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Dooney & Bourke Pebble Grain Lexington</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$125</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/sports/2.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">New 26" Folding 6 Speed Mountain Bike Bicycle Shimano School Sport Black</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$64</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/woman_running_shoes/2.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>

                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">ASICS Women's GEL-Equation 7 Running Shoes T3F6N</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$114</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/woman_dress/1.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Jessica Simpson Women's Single Breasted Belted Peacoat Jacket Coat</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-old">$68</span><span class="product-caption-price-new">$48</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/home_tech/5.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Hamilton Beach 49996 FlexBrew Single-Serve Coffeemaker with Removable Reservoir</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$147</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                  <%= image_tag("test_product/man_fashion/6.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">Ray Ban RB 3025 112/19 Green Flash Lens Unisex 58mm Aviator Sunglasses</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-old">$89</span><span class="product-caption-price-new">$27</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="product product-sm owl-item-slide">
                                <div class="product-img-wrap">
                                    <%= image_tag("test_product/man_fashion/8.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">FootJoy Contour Casual Spikeless Golf Shoes Black Mens Closeout 54284 New</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">$144</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="owl-item">
                    <div class="product product-sm owl-item-slide">
                        <div class="product-img-wrap">
                            <%= image_tag("test_product/woman_dress/2.jpg", :class => "product-img", :alt => "Image Alternative text", :title => "Image Title") %>
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Hanes Women's Relaxed Fit Jersey ComfortSoft&reg; Crewneck T-Shirt style 5680</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">$116</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= render 'footer' %>

        <script src="assets/jquery.js"></script>
        <script src="assets/bootstrap.js"></script>
        <script src="assets/icheck.js"></script>
        <script src="assets/ionrangeslider.js"></script>
        <script src="assets/jqzoom.js"></script>
        <script src="assets/card-payment.js"></script>
        <script src="assets/owl-carousel.js"></script>
        <script src="assets/magnific.js"></script>
        <script src="assets/custom.js"></script>
        <script src="assets/switcher.js"></script>
